@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

body {
  margin: 0;
  font-family: 'KoHo', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
